body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #141414);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #252525, #1a1a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font: normal 12pt Arial;
}

h1{
    color: #cfef00;
}

header{
    text-align: center;
}

section{
    background-color: transparent;
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    margin: auto;
    border: 1px solid #cfef00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
label{
    color: white;
}

select{
    overflow: auto;
}

.inputDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    width: 250px
}

#addButton{
    width: 80px;
}

.buttonsDiv{
    display: flex;
}

button#randomButton,button#resetButton,button#timesToShuffle {
    width: 40%;
    cursor: pointer;
    font-weight: 600;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 50px auto 10px auto;
}

button#timesToShuffle{
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #d4df3d;
}

button#timesToShuffle:hover{
    background-color: #a0a748;
}
   
button#randomButton:hover {
    background: #a6c900;
}
   
button#randomButton > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}
   
button#randomButton:hover svg  {
    transform: translateX(5px);
}
   
button#randomButton:active {
    transform: scale(0.95);
}

button#resetButton{
    background-color: rgb(252, 84, 55);
    text-align: center;
}

button#resetButton:hover{
    background-color: rgb(238, 68, 38);
}

button span{
    display: block;
    margin: auto;
}

footer {
    color: #ffffff;
    text-align: center;
    font-style: italic;
    margin-top: 30px;
    font-size: 10pt;
}

span.name{
    color: #a6c900;
}

#timesShuffled{
    color: white;
    margin-top: 20px;
}

.timesToBeShuffled{
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;  
}

.diceWrapper{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 100px;
    height: 100px;
}

.shake{
    animation: shake 0.5s infinite;
}

@keyframes shake{
    0%{
        transform: rotate(8deg);
    }

    50%{
        transform: rotate(-8deg);
    }

    100%{
        transform: rotate(8deg);
    }
}